<!DOCTYPE html>
<head>
	<title>Trivia!</title>
	<!-- CONFIGURACION DE FAVICON.ICO -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="194x194" href="/static/favicon/favicon-194x194.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
	<link rel="manifest" href="/static/favicon/site.webmanifest">
	<link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#f16d47">
	<link rel="shortcut icon" href="/static/favicon/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Trivia!">
	<meta name="application-name" content="Trivia!">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/static/favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
	<meta name="theme-color" content="#da532c">
	<!-- CONFIGURACION DE .CSS -->
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/base.css') }}">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Ubuntu" rel="stylesheet"> 
	<!-- HEADER -->
	{% block header %}
	{% endblock %}
</head>
<body>
	<div id="container" class="row">
		<div id="header" class="col-12">
			<div class="menu">
				<ul>
					<li><a href= "{{ url_for('trivia_inicio') }}">Trivia!</a></li>
					<li><a href= "{{ url_for('trivia_nosotros') }}">Nosotros</a></li>
					<li><a href= "{{ url_for('trivia_contacto') }}">Contacto</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<!-- CONTENIDO -->
			{% block content %}
			{% endblock %}
		</div>
		<div id="spacer"></div>
		<div id="footer" class="col-12">
			<p>404_NotFound Team &nbsp;&nbsp; - &nbsp;&nbsp; Jovenes A Programar 2018</p>
		</div>
	</div>
</body>