{% extends "base.html" %}
{% block title %} - Categorías{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
   
    <!-- Categorias Grid Section -->
    <br><br><br><br><br>
    <section class="portfolio" id="jugar">
    <br><br><br>
      <div class="container">

		<h2 class="text-center text-uppercase text-secondary mb-0">Categorías</h2>
		<hr class="star-dark mb-5">
		<br>
		<div class="row">
			<!-- Se muestran todas las categorias con un for -->
			{% for categoria in lista_categorias %}
			     <div class="col-md-6 col-lg-4">
			       <a class="portfolio-item d-block mx-auto" href="#categoria-{{ categoria.nombre }}">
			         <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
			           <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">						
			            <i class="fas fa-dice-{{ ['one','two','three','four','five','six']|random }} fa-3x"></i><h1>{{ categoria.nombre }}</h1>
			           </div>
			         </div>
			         <img class="img-fluid" src="{{ url_for('static', filename='img/categorias/') }}{{ categoria.nombre }}.png" alt="">
			       </a>
			     </div>
			{% endfor %}
			<!-- Categoria al final de la lista Al azar -->
		     <div class="col-md-6 col-lg-4">
		       <a class="portfolio-item d-block mx-auto" href="#categoria-{{ (lista_categorias|random).nombre }}">
		         <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
		           <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">						
		            <i class="fas fa-question fa-3x"></i><h1>Al azar</h1>
		           </div>
		         </div>
		         <img class="img-fluid" src="{{ url_for('static', filename='img/categorias/Random.png') }}" alt="">
		       </a>
		     </div>
		</div>
		
	    <!-- Categorias Modals -->
		{% for categoria in lista_categorias %}	
		    <div class="portfolio-modal mfp-hide" id="categoria-{{ categoria.nombre }}">
		      <div class="portfolio-modal-dialog bg-white">
		        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
		          <i class="fa fa-3x fa-times"></i>
		        </a>
		        <div class="container text-center">
		          <div class="row">
		            <div class="col-lg-8 mx-auto">
		              <h2 class="text-secondary text-uppercase mb-0">{{ categoria.nombre }}</h2>
		              <hr class="star-dark mb-5">
		              <img class="img-fluid mb-5" src="{{ url_for('static', filename='img/categorias/') }}{{ categoria.nombre }}.png" alt="">
		              <p class="mb-5">
						<a class="btn-light" href="#">
		                <i class="fas fa-info-circle btn-secoundary-light"></i></a>
		                Responde correctamente una pregunta de cada categoría para ganar una <i>Trivia 
		                <a class="btn-secoundary" href="#">
		                <i class="far fa-star btn-secoundary-light"></i></a>.</i>
		              </p>
		              <a class="btn btn-xl btn-primary" href="{{ categoria.url }}#jugar">
					    Comenzar categoría!
					  </a><br><br><br>
		              <a class="btn btn-light btn-lg rounded-pill portfolio-modal-dismiss" href="#">
		                <i class="fa fa-close"></i>
		                Atrás</a>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		{% endfor %}
	
      </div>
    </section>
	
{% endblock %}