<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-user-circle"></i> Iniciar Sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row justify-content-md-center">
	      <div class="col-md-auto">
			<form action="" method="post">
				{{ login_form.hidden_tag() }}
				<p>
				{{ login_form.username.label }}<br>
				{{ login_form.username(size=32) }}
				</p>
				<p>
				{{ login_form.password.label }}<br>
				{{ login_form.password(size=32) }}
				</p>
				<p>{{ login_form.submit() }}</p>
			</form>
	      </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
		<div>
			<!-- link a trigger modal register -->
			<a class="nav-link py-3 px-0 px-lg-3 rounded" data-dismiss="modal" data-toggle="modal" data-target="#registerModal" href="#">
			<i class="fas fa-user-plus"></i> Registrarme   
			</a>
		</div>
	        <!-- <button type="button" class="btn btn-primary">Iniciar Sesión</button> -->
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Atras</button>
      </div>
    </div>
  </div>
</div>