{% extends "base.html" %}
{% block title %} - Pregunta{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <section class="masthead espacio">
    </section>
    
	<!-- Preguntas Grid Section -->
    <section class="masthead portfolio" id="jugar">
      <div class="container text-center">
	      
			<h2 class="text-center text-uppercase text-secondary mb-3">Pregunta</h2>
			<hr class="star-dark mb-5">
			<h1 class="lead font-weight-light mb-4">{{ nombre_categoria }}</h1>
			<h2 class="font-weight-normal mb-5">¿{{ pregunta }}?</h2>
			
			{% for respuesta in respuestas %}
				<a class="btn btn-lg btn-outline-info btn-block" href="{{ respuesta.url }}">{{ respuesta.text }}</a>
			{% endfor %}
      </div>
    </section>
		
{% endblock %}