<!-- grilla del div #mejor_tf -->
<div id="mejor_tf">
	<h6 class="text-center">
	  <br><i class="fas fa-stopwatch" style="color:#d46363"></i> Record de tiempo obtenidos:<br><br><br>
  	</h6>
    {% set count = {'value': 0,'bg':''} %}
    <div  class="row">
	    {% for dato in ranking.mejor_tf %}
	    	{% if count.update({'value':(count.value + 1)}) %} {% endif %}
	    	{% if user_data.username == dato.username %}
	    		{% if count.update({'bg':'border-top border-bottom border-dark bg-light text-primary'}) %} {% endif %}
	    	{% else %}
		    	{% if count.value % 2 == 0 %}
		    		{% if count.update({'bg':'bg-primary text-secondary'}) %} {% endif %}
		    	{% else %}
		    		{% if count.update({'bg':'bg-secondary text-primary'}) %} {% endif %}
		    	{% endif %}
	    	{% endif %}
	    	<div class="{{ count.bg }} col-12 col-sm-1 col-lg-0">
	              <p class="mt-3">
	            	<small>
	                	<i>
							{% if count.value == 1 %}
				        		<i class='fas fa-crown'></i>
				        	{% else %}
				        		{{ count.value }}.  
				        	{% endif %}
			        	</i>
		        	</small>
				</p>
	          </div>
	          <div class="col-5 col-sm-1 col-lg-4 {{ count.bg }}">
	              <p class="mt-3">
		              <big>
			              <b>
							{% if user_data.username == dato.username %}
								Tú
				        	{% else %}
			              		{{ dato.username }}
				        	{% endif %}
			              </b>
		              </big>
	              </p>
	          </div>
	          <div class="{{ count.bg }} col-7 col-sm col-lg">
	              <p class="text-right mt-3">{{ dato.mejor_tf }}<small>   segundos</small></p>
	          </div>
				<div class="w-100"></div>
	    	<br>
	    {% endfor %}
	</div>
</div>
<!-- grilla del div #ganadas -->
<div id="ganadas">
	<h6 class="text-center">
	  <br><i class="fas fa-trophy" style="color:#f2cb24"></i> Cantidad de Trivias ganadas:<br><br><br>
  	</h6>
    {% set count = {'value': 0,'bg':''} %}
    <div  class="row">
	    {% for dato in ranking.ganadas %}
	    	{% if count.update({'value':(count.value + 1)}) %} {% endif %}
	    	{% if user_data.username == dato.username %}
	    		{% if count.update({'bg':'border-top border-bottom border-dark bg-light text-primary'}) %} {% endif %}
	    	{% else %}
		    	{% if count.value % 2 == 0 %}
		    		{% if count.update({'bg':'bg-primary text-secondary'}) %} {% endif %}
		    	{% else %}
		    		{% if count.update({'bg':'bg-secondary text-primary'}) %} {% endif %}
		    	{% endif %}
	    	{% endif %}
	    	<div class="{{ count.bg }} col-12 col-sm-1 col-lg-0">
	              <p class="mt-3">
	            	<small>
	                	<i>
							{% if count.value == 1 %}
				        		<i class='fas fa-crown'></i>
				        	{% else %}
				        		{{ count.value }}.  
				        	{% endif %}
			        	</i>
		        	</small>
				</p>
	          </div>
	          <div class="col-5 col-sm-1 col-lg-4 {{ count.bg }}">
	              <p class="mt-3">
		              <big>
			              <b>
							{% if user_data.username == dato.username %}
								Tú
				        	{% else %}
			              		{{ dato.username }}
				        	{% endif %}
			              </b>
		              </big>
	              </p>
	          </div>
	          <div class="{{ count.bg }} col-7 col-sm col-lg">
	              <p class="text-right mt-3">{{ dato.ganadas }}<small>   trivias</small></p>
	          </div>
				<div class="w-100"></div>
	    	<br>
	    {% endfor %}
	</div>
</div>
<!-- grilla del div #sabelotodo -->
<div id="sabelotodo">
	<h6 class="text-center">
	  <br><i class="fas fa-brain" style="color:#ea9e9e"></i> Trivias ganadas sin equivocarse:<br><br><br>
  	</h6>
    {% set count = {'value': 0,'bg':''} %}
    <div  class="row">
	    {% for dato in ranking.sabelotodo %}
	    	{% if count.update({'value':(count.value + 1)}) %} {% endif %}
	    	{% if user_data.username == dato.username %}
	    		{% if count.update({'bg':'border-top border-bottom border-dark bg-light text-primary'}) %} {% endif %}
	    	{% else %}
		    	{% if count.value % 2 == 0 %}
		    		{% if count.update({'bg':'bg-primary text-secondary'}) %} {% endif %}
		    	{% else %}
		    		{% if count.update({'bg':'bg-secondary text-primary'}) %} {% endif %}
		    	{% endif %}
	    	{% endif %}
	    	<div class="{{ count.bg }} col-12 col-sm-1 col-lg-0">
	              <p class="mt-3">
	            	<small>
	                	<i>
							{% if count.value == 1 %}
				        		<i class='fas fa-crown'></i>
				        	{% else %}
				        		{{ count.value }}.  
				        	{% endif %}
			        	</i>
		        	</small>
				</p>
	          </div>
	          <div class="col-5 col-sm-1 col-lg-4 {{ count.bg }}">
	              <p class="mt-3">
		              <big>
			              <b>
							{% if user_data.username == dato.username %}
								Tú
				        	{% else %}
			              		{{ dato.username }}
				        	{% endif %}
			              </b>
		              </big>
	              </p>
	          </div>
	          <div class="{{ count.bg }} col-7 col-sm col-lg">
	              <p class="text-right mt-3">{{ dato.sabelotodo }}<small>   veces</small></p>
	          </div>
				<div class="w-100"></div>
	    	<br>
	    {% endfor %}
	</div>
</div>

<script src="{{ url_for('static',filename='js/hide_show_div.js') }}"></script>