<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Reglas de juego</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Una vez que usted presione <b>Comenzar a Jugar!</b> se iniciara un conteo de tiempo.
        <br><br>
        De aquí en mas deberás seleccionar la <b>categoría</b> en la que deseas jugar, en donde tendrás que responder una pregunta completamente al azar.
        <br><br>
        En todo momento puedes empezar a jugar desde cero, pero perderás toda categoria ganada.
        <br><br>
        Debes responder las preguntas de la <b>categoría</b> elegida hasta acertar al menos una respuesta.
        <br>
        Si respondes correctamente, recién podrás elegir una nueva <b>categoría</b>.
        <br><br>
        No podrá elegir una <b>categoría</b> en la que ya haya jugado, pues para continuar deberá ir avanzando en las distintas categorías.
        <br><br>
        Para ganar una <b>Trivia!</b> habrá respondido correctamente todas las categorías.
        Una vez que esto suceda se le mostrara el tiempo de juego y un mensaje de felicitación.
        <br><br>
        Mucha Suerte!
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Atras</button>
      </div>
    </div>
  </div>
</div>