{% extends "base.html" %}
{% block title %}{{ titulo }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <header class="espacio bg-primary text-white text-center">
      <div class="container">
      </div>
    </header>
    
	<!-- Resultado Grid Section -->
    <section class="portfolio" id="jugar">
      <div class="container text-center" onclick="location.href='{% if resultado %}{{ url_gano }}{% else %}{{ url_perdio }}{% endif %}';">
      
	      	<br>
			<h2 class="text-center text-uppercase text-secondary mb-3">Resultado</h2>
			<hr class="star-dark mb-5">
			<h1 class="lead font-weight-light mb-4">¿{{ pregunta }}?</h1>
			<h2 class="font-weight-normal mb-5">
				{%- if resultado -%}
					<a class="btn btn-lg btn-success" href="{{ url_gano }}">
						{{ ['MUY BIÉN','EXCELENTE','BIEN','CORRECTO','IMPECABLE','ESO ÉS','GENIAL','ACERTADO','SÍ!','ASÍ SE HACE']|random }}!  
						<!-- Diccionario de emoticones -->
						{{ ['&#128578;','&#128512;','&#128513;','&#128515;','&#128516;','&#128522;','&#128526;','&#128525;','&#128536;','&#128539;','&#128521;']|random }}
					</a>
				{% else %}
					<a class="btn btn-lg btn-danger" href="{{ url_perdio }}">
						{{ ['FALLASTE!','MAL','ERROR','SUERTE LA PRÓXIMA','MUY MAL','INCORRECTO','EQUIVOCADO','NO!','NO TE RINDAS']|random }}!  
						<!-- Diccionario de emoticones -->
						{{ ['&#128528;','&#128529;','&#128533;','&#128542;','&#128543;','&#128559;','&#128557;','&#128555;','&#128546;','&#128561;','&#128580;']|random }}
					</a>
				{% endif %}
			</h2>
			
				{% if resultado %}
					{% set url_siguiente = "{{ url_gano }}" %}
				{% else %}
					{% set url_siguiente = "{{ url_perdio }}" %}
				{% endif %}
			{% for respuesta in respuestas %}
				{% if respuesta.es_correcta %}
					{% if relegida == respuesta.text %}
						<button type="button" class="btn btn-lg btn-success btn-block border-warning disabled" href={{ url_siguiente }}>
								{{ respuesta.text }} &#10004;
						</button>
					{% else %}
						<button type="button" class="btn btn-lg btn-success btn-block disabled" href={{ url_siguiente }}>
								{{ respuesta.text }}
						</button>
					{% endif %}
				{% else %}
					{% if relegida == respuesta.text %}
						<button type="button" class="btn btn-lg btn-danger btn-block border-warning disabled" href={{ url_siguiente }}>
							{{ respuesta.text }} &#10008;
						</button>
					{% else %}
						<button type="button" class="btn btn-lg btn-danger btn-block disabled" href={{ url_siguiente }}>
							{{ respuesta.text }}
						</button>
					{% endif %}
				{% endif %}
			{% endfor %}
			
		{% include 'volver.html.jinja2' %}
		
      </div>
    </section>
		
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>$('#jugar')[0].scrollIntoView({behavior:"instant",block:"start"});</script>
{% endblock %}