 * {box-sizing: border-box;}

/* COLORES SUGERIDOS:
 ROJO=#873d3d,
 VIOLACEO=#a12da3;
 VIOLETA=#873d5d,
 AZUL1=#51509b,
 AZUL2=#48479b,
 NARANJA=#ffc42f */

.row::after {
	content: "";
	clear: both;
	display: block;
}

[class*="col-"] {
	float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #111;
	overflow: hidden;
	}

li {
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #2A2A2A;
}

#menu{	
	font-family: 'PT Sans Narrow', sans-serif;
	position: fixed;
	right: 0;

    margin-top:auto;
    margin-bottom: auto; 
}

body{
	font-family: 'Ubuntu', sans-serif;
	background-color: black;
	margin: 0 auto;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}
 
#contenido{
	background-color: #0d0d0d;
	margin: 0 auto;
	width: 80%;
	padding: 30px;
}

#footer{	
	font-family: 'Roboto', sans-serif;
	background-color: #070707;
	color: white;
	text-align: center;
}

h2{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h1{	
	padding-top: 25px;
	font-family: 'Roboto', sans-serif;
}
