 * {box-sizing: border-box;}

/* COLORES SUGERIDOS:
#COMBINA CON AMARILLO:
 GRIS=#686868,
 VIOLETA=#72117a,
 NARANJA=#da532c
 
#COMBINA CON VIOLETA:
 ROJO=#873d3d,
 VIOLACEO=#a12da3,
 VIOLETA=#873d5d,
 AZUL1=#51509b,
 AZUL2=#48479b,
 NARANJA=#ffc42f */

[class*="col-"] {float: left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html, body{
	margin: 0 auto;
    padding:0;
	height: 100%;
	background-color: black;
	}
	
.row::after {
	content: "";
	clear: both;
	display: block;
	}
	
#container {
	background-color: black;
	color: white;
	position: relative;
	min-height: 100vh;
    overflow: auto;
	}
	
#header{
	font-family: 'PT Sans Narrow', sans-serif;
	position: fixed;
	right: 0;
    margin-top:auto;
    }
    
#content{
	width: 80%;
	margin: 0 auto;
	background-color: #2a2a2a;
	font-family: 'Ubuntu', sans-serif;
	padding: 30px;
	padding-bottom:5%;
	}
	
#spacer{
	width: 80%;
	margin: 0 auto;
	background-color: #2a2a2a;
	height: 100%;
	padding-bottom:auto;
	}
	
#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #1e1e1e;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

#formulario{
	margin: 0 auto;
	width: 60%;
	padding: 30px;
	padding-top: 15px;
	background-color: #262626;
	}

.form{
	width: 100%;
}
	
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #ffc42f;
	overflow: hidden;
	}

.menu li {
	float: left;
	}

.menu li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}

.menu li a:hover {
	background-color: #2A2A2A;
	color: white;
	}

h1{	
	padding-top: 25px;
	font-family: 'Roboto', sans-serif;
	}

h2{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	}
