<!DOCTYPE html>
<head>
	<title>Trivia!</title>
	<!-- CONFIGURACION DE FAVICON.ICO -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="194x194" href="/static/favicon/favicon-194x194.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
	<link rel="manifest" href="/static/favicon/site.webmanifest">
	<link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#f16d47">
	<link rel="shortcut icon" href="/static/favicon/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Trivia!">
	<meta name="application-name" content="Trivia!">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/static/favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
	<meta name="theme-color" content="#da532c">
	<!-- CONFIGURACION DE .CSS -->
	<link rel="stylesheet" type="text/css" href="static/css/estilo.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Ubuntu" rel="stylesheet"> 
</head>
<body>
	<div class="row">
	<div id="menu" class="col-12">
		<ul>
			<li><a href="/">Trivia!</a></li>
			<li><a href="nosotros">Nosotros</a></li>
			<li><a href="contacto">Contacto</a></li>
		</ul>
	</div>
	<div id="contenido">
		<h1>Contenido:</h1>
		<p>Esto es un texto de prueba,<br>esto es otro renglon.</p>
		<pre>Mas texto de prueba.</pre>
	</div>
	<div id="footer" class="col-12">
		<p>Pie de página</p>
	</div>
</div>
</body>